<% if (page.type) { %>
  <%- partial('partials/sidebar', { type: page.type, index: page.index }) %>
<% } else { %>
  <%- partial('partials/sidebar', { type: false, index: page.index }) %>
<% } %>
<div class="content <%- page.type ? page.type + ' with-sidebar' : '' %> <%- page.type === 'guide' ? page.path.replace(/.+\//, '').replace('.html', '') + '-guide' : '' %>">
  <% if (page.type) { %>
    <% if (page.type === 'menu') { %>
      <form id="search-form">
        <input type="text" id="search-query-menu" class="search-query st-default-search-input">
      </form>
      <%- partial('partials/toc', { type: 'guide' }) %>
    <% } %>
  <% } %>
  <% if (page.search) { %>
    <%- partial('search-page') %>
  <% } else { %>
    <%- page.content %>
  <% } %>
  <% if (page.type === 'guide') { %>
    <div class="guide-links">
      <% const lastPage = site.pages.find({ type: page.type, order: { $lt: page.order }}).sort({ order: -1 }).first(); %>
      <% if (lastPage) { %>
        <span><i class="fas fa-chevron-left" aria-hidden="true"></i>&nbsp;<a href="<%- url_for(lastPage.path) %>"><%- lastPage.title %></a></span>
      <% } %>
      <% const nextPage = site.pages.find({ type: page.type, order: { $gt: page.order }}).sort({ order: 1 }).first(); %>
      <% if (nextPage) { %>
        <span style="float: right;"><a href="<%- url_for(nextPage.path) %>"><%- nextPage.title %></a>&nbsp;<i class="fas fa-chevron-right" aria-hidden="true"></i></span>
      <% } %>
    </div>
  <% } %>
  <br><br><br>
  <div class="meta-footer">
    <% if (page.lastmodified != false) { %>
      <time class="time" itemprop="dateUpdated" datetime="<%- moment(page.updated).format() %>" content="<%- date(page.updated, config.date_format) %>">
        <i class="fas fa-clock fa-fw" aria-hidden="true"></i>&nbsp;本页文档最后更新于：<%- date(page.updated, theme.updated_format) %>
      </time>
    <% } %>
    <div class="new-meta-item browse busuanzi">
      <i class="fas fa-eye fa-fw" aria-hidden="true"></i>&nbsp;本页访问量：
      <span id="busuanzi_value_page_pv">
        <i class="fas fa-spinner fa-spin fa-fw" aria-hidden="true"></i>
      </span>次
    </div>
    <!-- <br>
    <i class="fas fa-edit fa-fw" aria-hidden="true"></i>&nbsp;发现错误？想参与编辑？
    <a href="https://github.com/xaoxuu/wiki-source/tree/master/src/<%- page.path.replace(/\.html$/, '.md') %>" target="_blank">
      在 GitHub 上编辑此页！
    </a> -->
  </div>
  <%- partial('partials/gitalk') %>
  <%- partial('partials/valine') %>


</div>
