<li class="nav-dropdown-container projects">
  <a class="nav-link <%- page.path.match(/(\/|$)|projects(\/|$)/) ? 'current' : '' %>"><i class='fas fa-fire fa-fw'></i>&nbsp;热门项目</a>
  <ul class="nav-dropdown">
    <li><h4>iOS开源库</h4></li>
    <li><ul>
      <li><a href="<%- url_for("/prohud/") %>" class="nav-link <%- page.path.match(/prohud(\/|$)/) ? 'current' : '' %>">ProHUD</a></li>
      <li><a href="<%- url_for("/inspire/") %>" class="nav-link <%- page.path.match(/inspire(\/|$)/) ? 'current' : '' %>">Inspire</a></li>
      <li><a href="<%- url_for("/axkit/") %>" class="nav-link <%- page.path.match(/axkit(\/|$)/) ? 'current' : '' %>">AXKit</a></li>
    </ul></li>
    <li><h4>iOS应用程序</h4></li>
    <li>
      <ul>
        <li><a href="<%- url_for("/heartmate/") %>" class="nav-link <%- page.path.match(/heartmate(\/|$)/) ? 'current' : '' %>">Heart Mate</a></li>
      </ul>
    </li>
    <li><h4>Mac实用工具</h4></li>
    <li>
      <ul>
        <li><a href="<%- url_for("https://github.com/xaoxuu/GoogleTranslate-Mac") %>" class="nav-link <%- page.path.match(/googletranslate-for-mac(\/|$)/) ? 'current' : '' %>">Google Translate for Mac</a></li>
        <li><a href="<%- url_for("https://github.com/xaoxuu/MaterialX-Mac") %>" class="nav-link <%- page.path.match(/material-x-for-mac(\/|$)/) ? 'current' : '' %>">Material X for Mac</a></li>
      </ul>
    </li>
    <li><h4>Hexo博客主题</h4></li>
    <li>
      <ul>
        <li><a href="<%- url_for("/material-x/") %>" class="nav-link <%- page.path.match(/material-x(\/|$)/) ? 'current' : '' %>">Material X</a></li>
        <li><a href="<%- url_for("https://github.com/xaoxuu/hexo-theme-resume") %>" class="nav-link <%- page.path.match(/resume(\/|$)/) ? 'current' : '' %>">Resume</a></li>
      </ul>
    </li>
    <li><h4>Shell实用脚本</h4></li>
    <li>
      <ul>
        <li><a href="<%- url_for("/hexo.sh/") %>" class="nav-link <%- page.path.match(/hexo.sh(\/|$)/) ? 'current' : '' %>">hexo.sh</a></li>
        <li><a href="<%- url_for("/podspec.sh/") %>" class="nav-link <%- page.path.match(/podspec.sh(\/|$)/) ? 'current' : '' %>">podspec.sh</a></li>
        <li><a href="<%- url_for("/vim-cn.sh/") %>" class="nav-link <%- page.path.match(/vim-cn.sh(\/|$)/) ? 'current' : '' %>">vim-cn.sh</a></li>
      </ul>
    </li>


  </ul>
</li>
