<% if (config.valine){ %>
  <% if (config.valine.enable && config.valine.app_id && config.valine.app_key && (page.comments != false)){ %>
    <p><b><i class='fas fa-exclamation-triangle'></i> 本站已不再使用Valine评论系统，请使用Gitalk进行评论 <i class='fas fa-arrow-up'></i></b></p>
    <% if (page.comments_desc){ %>
        <p><%- page.comments_desc %></p>
    <% } %>
    <section id="comments">
      <div id="valine_container" class="valine_thread">
        <i class="fas fa-spinner fa-spin fa-fw"></i>
      </div>
    </section>
    <script src="https://cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/xaoxuu/volantis@1.0/js/volantis.js"></script>
    <script>
      var GUEST_INFO = ['nick','mail','link'];
      var guest_info = '<%= config.valine.guest_info %>'.split(',').filter(function(item){
        return GUEST_INFO.indexOf(item) > -1
      });
      var notify = '<%= config.valine.notify %>' == true;
      var verify = '<%= config.valine.verify %>' == true;
      var valine = new Valine();
      valine.init({
        el: '#valine_container',
        notify: notify,
        verify: verify,
        guest_info: guest_info,
        <% if(page.valine && page.valine.path) { %>
          path: "<%= page.valine.path %>",
        <% } %>
        appId: "<%= config.valine.app_id %>",
        appKey: "<%= config.valine.app_key %>",
        placeholder: "<%= (page.valine && page.valine.placeholder) ? page.valine.placeholder : config.valine.placeholder %>",
        pageSize:'<%= config.valine.page_size %>',
        avatar:'<%= config.valine.avatar %>',
        lang:'<%= config.valine.lang %>',
        highlight: '<%= config.valine.highlight %>'
      })
    </script>
  <% } %>
<% } %>
